<style type="text/css">



body {
	/*background:url(../images/bg.jpg);*/
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:100% 100%;
	-webkit-background-size:100% 100%;
	-moz-background-size:100% 100%;
	-o-background-size:100% 100%;
	-ms-background-size:100% 100%;
	font-family: 'Sansita', sans-serif;
}
html {
  overflow-y: scroll;
}
p.header {
    font-size: 16px;
    font-weight: 500;
    color: #212121;
    letter-spacing: 1px;
    text-transform: uppercase;
}

div#centerpage{
	width: 500px;
	margin: 0 auto;
}
div#signup-agile input[type="text"],div#signup-agile input[type="email"],div#signup-agile input[type="password"] {
	padding: 10px;
    width: 100%;
    border-bottom: 2px solid brown;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #212121;
    text-align: left;
    outline: none;
    letter-spacing: 1px;
    font-size: 16px;
    margin-top: 1em;
    margin-bottom: 2em;
    font-weight: 600;
    font-family: 'Poiret One', cursive;
    background: none;
}
div#signup-agile input[type="text"]:focus,div#signup-agile input[type="email"]:focus,div#signup-agile input[type="password"]:focus   {
	background-color:#e5f3d1;
	border-color:#a0da4f;
}
div#signup-agile input[type="Submit"] {
	padding: 10px;
	background-color: brown;
	width: 100%;
	border: none;
	cursor: pointer;
	color: #000000;
	outline: none;
	letter-spacing: 1px;
	font-weight: 600;
	font-family: 'Sansita', sans-serif;
	font-size: 20px;
	margin-top: 5%;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
div#signup-agile input[type="Submit"]:hover {
	background-color: #84bf31;
	color: #000000;
}

div.message, div.SuccessMessage{
	
	border: 2px solid #c0c0c0;
	padding-top: 1em;
	color: white;
	font-weight: bold;
	background-color: brown;
	font-size: 1em;
	margin: 0 auto;
	width: 400px;
	height: 40px;
	text-align:center;
	margin-bottom: 1em;	
	
	
}
</style>